#contentBox summary{
    color: var(--txt);
    padding: 20px;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}

#contentBox details{
    padding: 15px;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}

#contentBox details div{
    padding-top: 5px;
    padding-left: 15px;
}